[submodule "application/src/app/api/apps/growth-tools/open-world-mode/scrappy_mindset"]
	path = application/src/app/api/apps/growth-tools/open-world-mode/scrappy_mindset
	url = git@github.com:abaybektursun/scrappy_mindset.git
